body {
    font-family: Arial, sans-serif;
    background-color: #D1E9F6; /* Soft light background */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0843c; /* Orange header for a bold look */
    padding: 15px 0;
    border-bottom: 3px solid #000000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.navbar a:hover {
    background-color: #faa23e;
    border-radius: 5px;
    color: white;
}

.main-content {
    text-align: center;
    padding: 5px 50px 5px;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.tour-spot h2 {
    text-align: center;
    margin: 20px 0;
    color: #ee7322;
    font-size: 28px;
    font-family: 'Georgia', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.outer {
    display: flex; /* Flex layout for horizontal alignment */
    flex-wrap: wrap; /* Wrap elements if screen width is too small */
    justify-content: space-around; 
    padding: 20px;
}

.inner {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 20px;
    max-width: 500px; /* Card size */
    text-align: center;
    flex: 1 1 300px; 
}

.inner img {
    width: 100%;
    height: auto;
    border: 4px solid rgb(80, 79, 77); 
    border-radius: 10px;
    margin-bottom: 15px;
}

.inner h3 {
    font-size: 24px;
    color: #CB6040; 
    margin-bottom: 10px;
}

.inner p {
    margin-top: 10px;
    font-size: 16px;
    color: #257180;
    line-height: 1.5;
    padding: 10px;
    background-color: #E9F7FD;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    text-align: justify;
}

.inner img:hover {
    border-color: #FF6600; 
}
